// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import 'bootstrap/scss/bootstrap';
.mechanics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        h2 {
            color: crimson;
            margin: 0 5px;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button,
        form,
        a {
            margin: 5px 10px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
        button {
            transform: rotate(1deg);
        }
    }
}

.trucks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .content {
        display: flex;
        align-items: center;
        h2 {
            color: skyblue;
            margin: 0 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            span {
                font-size: 12px;
                color: gray;
                font-style: italic;
                margin-right: 10px;
            }
        }
        h4 {
            color: orangered;
            margin: 0 5px;
            font-size: 22px;
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
            span {
                font-size: 12px;
                color: gray;
                font-style: italic;
                margin-right: 10px;
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        button,
        form,
        a {
            margin: 5px 10px;
            display: block;
        }
        form {
            display: flex;
            align-items: center;
            margin: 0;
        }
        button {
            transform: rotate(1deg);
        }
    }
}

textarea.form-control {
    min-height: 200px;
}